<!doctype html>
<html>
<!--                                        
                        .;;:                                       
                       '++++',                                     
                      `'+++';'                                     
                      ;'++';;'`                                    
                      ;.+;,.;':                                    
                      ;'''++;''                                    
                      ;'+';;:';                                    
                      .`.```;';                                    
                      `,:.``.'.                                    
                      `````.,'                                     
                      ;;;'''';;                                    
                      ;++###;''                                    
                      ;;'+;#++''                                   
                     '';'+#++';';:,;;;,                            
                    .''''+'++++++++++'''';                         
                  `:;''+'++++++++++++++++'':                       
                ;'''++'''+++++++++++++'''''';                      
             `';'''+++'''+++++++++++'''';;;''.                     
            ;';;'''+++'''++++++++++''''';;;;;'                     
           '';;'''+'+++++''+++++'''';;''';;:;;;                    
          ';';'''''++++++++'''''';;;;:;;'';;;;;                    
         ,;;:;;;''+++ ';`.++'''';;;;;::;''';;;;;                   
         ';;;;;;''+''+.,`+++'''';;:;;;;;'''';:;;`                  
         ';:;;;;;++.''+. '`+''';;::;;;;'''''';;:';                 
        :;';;::;;''' ''',' '''';::;;;''''''''';;;''                
        ';';;::;;';'``'' ' ''';;;'''+++;;'''''';:'''               
        ';';;:;;;'':` , ;;'''''''++++++;;;''''';;;';'              
        ;;;;;::;;';`';;;; ''+''++++++#+';;'''''';:'';,             
       `;:;:'::;;;;;,   :''++++++++++#+';;;''''';:;';;             
       :;:;;;;::;;;;;;;;;'''''''''++++++';;'''''';;';;.            
       ;;:;''';::;;;;;;;'+'';;;;''++++++'';;''''':;';:;            
       ;;:;;';';:;;;;;;;'''';;;;''+++++++'';''''''+'':;            
      .:;:;;'+';:;;;;;;;'''';;;''''''''+++''''''++++';;:           
      ;;:;;;++;;:;;;;;;;'''';;''''''''+#''++++++++';;;;;           
      :;:;;'++'';:;;;;;''++''''''''''+###''++++++';:;;;;           
     .:::''+#++';::;;;;''++'''''''''+#####'+++++';::;;;;           
     ;;:;'+###+;';:;;;;''+'''''''''+######+++++';::;;';;,          
    ''+;'+####++';:;;;;'''''';''''+######+++'''';::;;;;;;          
   '''+######+' '':;;;;'''';;;;'''+######++'''';::;;;;;;;          
   ';;++#####+. :';;;;;''';;;;;'''######++'''';::;;';;;;;          
   '';'+#####+  `';;;;;''';;;;;'''####++''''';;:;;';;;;;'          
   '';;++###++   ';:;;;''';;;;;''+###++'''''';:;;'';;''+           
   ;';;'+###+'   ';:;;;'''';;;;'+#++++'';''';;;''''''+.            
    ';;;'+#++`   ';;''''++''';'+'++++'';;''';;'''''+;              
    '';;;'+#;    '';'''''++'';'+'+++''';''''''''+';;;;             
    ,';;;;'+#+   '';''''++++';;++'+''';;'+''++';;;:;;;;            
     ';;';;'+###`';:;;;;''''';;+#'''';;''''+;;;;;::::;;;           
     .';';;;'+###';:;;;;''''';;+#'';;;;'+'';;;;;::::::;;;.         
      ';;';;;'+#+';:;;;;''''';;++';;;;;'''';;;;;:::,,:::;;.        
       ';;;;;;'+#'::;;;;''''';;+';;;;;''''';;;:::::,,,,::;;,       
       `;;';;;;+#'::;;;;''';'';+;;;;;;'''';;:::::,,....,,::;.      
        ';;;;;;';;;;;'''++';;';+;';';''';'::::::,...,,,,.,:::`     
        ';;';;''+:;''''+++';;';';+++;+'''::::::,,..,,,,,,,,:::     
        `;;';;''+;;'+'++++';;';';+++''++';::,,,,..,,,:,::,,,:::    
         ';'++''+;;'++++++';;';+'++++'++;;:::,,..,,,   :::,,,:::   
         ++++;''+;''+++++;';;';+''+++'#+';;:::,,.,,     ;;:,,,:,.  
          '#+++'''''++'++'';;';'+'.#''' `::::::,,,,     :;::.,,,,  
            .++++''''+''+'';;';'++`        ::::,,,,      ;;:,..,,  
               +++''''+'+';;;';;;'            ,,,,.       ;:,...   
                `'''''+'+';;'';;:'                        .:,...   
                 .''''+++';;'';;:'                         :,..    
                  ''''+++';;'';;::                          ,,     
                  ''''+++';;'';;:.                                 
                  ''''+++;;;'';;;                                  
                  ,;''+++;;;'';;;                                  
                   ;''+++;''+';;'                                  
                   '''+++;''+'';;                                  
                   ;'++++'''+'';                                   
                   `'++#+''++++'                                   
                    ;'+++'''+++'                                   
                    ;++++';;;''.                                   
                    '++++''+'''                                    
                    ,++++''++''                                    
                     ++++':++';,                                   
                     '++++;++';'                                   
                     :++++;++';;                
-->
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <% (current_page.data.meta || []).each do |key, val| %>
      <% if key.to_s == "og:image" %>
        <meta property="<%=key %>" content="<%= @base_url + image_path(val) %>" />
      <% else %>
        <meta property="<%=key %>" content="<%=val%>" />
      <% end %>
    <% end %>

    <%= partial 'favicon' %>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Shortcut Media" %></title>

    <%#<link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>%>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>

    <%= stylesheet_link_tag 'ars-maquette-web-font' %>
    <%#<script src="https://use.typekit.net/xru7wzr.js"></script>%>
    <%#<script>try{Typekit.load({ async: false });}catch(e){}</script>%>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'gtm' %>
    
    <%#= partial 'debug_grid' %>
    <%= partial 'navbar' %>
    <%= yield %>
    <%= partial 'footer' %>
  </body>
</html>

