<footer>
  <div class="inset">
    <div class="page-wrap clearfix">
      <div class="grid-whole padded">
        <nav>
        <ul class="clearfix">
          <li class="grid-quarter s-grid-half"><%= link_to 'Company', 'company.html' %></li>
          <li class="grid-quarter s-grid-half"><%= link_to 'Contact Us', 'contact_us.html' %></li>
          <li class="grid-quarter s-grid-half"><%= link_to 'News', 'http://blog.shortcutmedia.com' %></li>
          <li class="grid-quarter s-grid-half"><%= link_to 'Support', 'support.html' %></li>
        </ul>
        </nav>
        <small>Shortcut Media AG &copy <%= Date.today.year %>. All Rights Reserved.</small>
      </div>
    </div>
</footer>

