%footer
  %section.white
    .container
      .row
        .col-sm-3
          %ul.links
            %li= link_to 'Features', '/benefits.html'
            %li= link_to 'Documentation', '/documentation.html'
            / %li
            /   %a{href: "#"}Cases
            / %li
            /   %a{href: "#"}Shortcut app
        .col-sm-3
          %ul.links
            %li= link_to 'About us', '/about.html'
            %li= link_to 'Blog', 'http://blog.shortcutmedia.com'
            %li= link_to 'Contact', '/about.html#contact_us'
            / %li
            /   %a{href: "#"}Touch points
            / %li
            /   %a{href: "#"}Mobile deep linking
            / %li
            /   %a{href: "#"}App marketing
            / %li
            /   %a{href: "#"}Analytics and tracking
            / %li
            /   %a{href: "#"}Social media integration
            / %li
            /   %a{href: "#"}Optimization tools
        .col-sm-3.hidden-xs
          %ul.links
            %li= link_to 'Terms', '/terms.html'
            %li= link_to 'Privacy', '/privacy.html'
        .col-sm-3
          %ul.copyright
            %li
              Shortcut Media AG &copy; 
              = Date.today.year
            %li
              Crafted with &hearts; 
              %strong for you!
            %li.social-buttons
              %a.social{href: "http://scm.st/1222c9u", target: "_blank"}
                = svg_image_tag 'sprite.svg#social-facebook'
              %a.social{href: "https://twitter.com/ShortcutMedia", target: "_blank"}
                = svg_image_tag 'sprite.svg#social-twitter'
              %a.social{href: "https://www.linkedin.com/company/2681378", target: "_blank"}
                = svg_image_tag 'sprite.svg#social-linkedin'
