<header>
  <div class="clearfix">
    <div class="header-section">
      <nav>
        <div class="logo-block">
          <div id="logo">
            <a href="/"><%= figure 'shortcut_logo_rgb_small_shutter' %></a>
          </div>
          <%= partial 'signup_clip', locals: { html_class: 'small'} %>
        </div>
        <div class='small-nav'>
          <%= partial 'navi_items', locals: { html_class: ''} %>
        </div>

        <div class='divider alpha'></div>
        <%= partial 'navi_items', locals: { html_class: 'wide-nav'} %>
        <div class='divider omega'></div>
        <%= partial 'signup_clip', locals: { html_class: 'wide'} %>
      </nav>
    </div>
    <div class="sharing-links" >
      <a href="https://www.facebook.com/shortcutapp">
        <%= figure 'button_share_facebook' %>
      </a>
      <a href="https://twitter.com/ShortcutMedia">
        <%= figure 'button_share_twitter' %>
      </a>
      <a href="https://www.linkedin.com/company/shortcut-media-ag">
        <%= figure 'button_linkedin' %>
      </a>
      <a href="https://www.youtube.com/user/shortcutmediamovies">
        <%= figure 'button_youtube' %>
      </a>
    </div>
  </div>
</header>
