<header>
  <div class="clearfix">
    <div class="grid-whole">
      <div class="logo grid-2 m-grid-3 s-grid-half">
        <div id="logo">
          <a href="/">
            <%= figure 'shortcut_logo_rgb_small_shutter' %> 
          </a>
        </div>
        <%= partial "signup_clip", locals: {signup_clip_id: 'signup-clip-mobile'} %>
      </div>

      <nav class="grid-8 m-grid-6 s-grid-half">
        <ul class="even-navi-4 ">
          <li class="padder alpha">&nbsp;</li>
          <li><h2><a href="/magazines.html">For Magazines</a></h2></li>
          <li><h2><a href="/newspapers.html">For Newspapers</a></h2></li>
          <li><h2><a href="#">For Brands</a></h2></li>
          <li class="padder omega">&nbsp;</li>

          <span></span><%# required for IE7/8 %>
        </ul>
      </nav>

      <div class="grid-2 m-grid-3">
        <div class="signup-clip-container">
          <div class="sharing-links" >
            <a href="">
              <%= figure 'button_share_facebook' %> 
            </a>
            <a href="">
              <%= figure 'button_share_twitter' %> 
            </a>
            <a href="">
              <%= figure 'button_linkedin' %> 
            </a>
            <a href="">
              <%= figure 'button_youtube' %> 
            </a>
          </div>

          <%= partial "signup_clip", locals: {signup_clip_id: 'signup-clip'} %>
        </div>
      </div>
    </div>
  </div>
</header>
