<header>
  <div class="clearfix">
    <div class="grid-whole">
      <div class="logo grid-2 m-grid-3 s-grid-half">
        <div id="logo">
          <a href="/">
            <%= figure 'shortcut_logo_rgb_small_shutter' %>
          </a>
        </div>
        <%= partial "signup_clip", locals: {signup_clip_id: 'signup-clip-mobile'} %>
      </div>

      <div class="grid-10 m-grid-9 s-grid-half nav-container">
        <div class="signup-clip-container">
          <div class="sharing-links" >
            <a href="">
              <%= figure 'button_share_facebook' %>
            </a>
            <a href="">
              <%= figure 'button_share_twitter' %>
            </a>
            <a href="">
              <%= figure 'button_linkedin' %>
            </a>
            <a href="">
              <%= figure 'button_youtube' %>
            </a>
          </div>
          <%= partial "signup_clip", locals: {signup_clip_id: 'signup-clip'} %>
        </div>

        <nav>
          <ul class="even-navi-4 ">
            <li class="padder alpha">&nbsp;</li>
            <li><h2><%= link_to 'For Magazines', 'magazines.html' %></h2></li>
            <li><h2><%= link_to 'For Newspapers', 'newspapers.html' %></h2></li>
            <li><h2><%= link_to 'For Brands', 'brands.html' %></h2></li>
            <li class="padder omega">&nbsp;</li>

            <span></span><%# required for IE7/8 %>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</header>
