<header class="white-header">
  <div class="clearfix">
    <div class="header-section">
      <nav>
        <div class="logo-block">
          <div id="logo">
            <a href="/"><%= figure 'shortcut_logo_rgb_small_shutter' %></a>
          </div>
          <div class="signup-clip2 small">
            <p>
              <b><a href="signup.html">Start free trial</a></b>
            </p>
            <p>
              or <em><a href="<%= manager_host %>/users/sign_in">Sign In</a></em>
            </p>
          </div>
        </div>
        <div class='small-nav'>
          <div><h2><%= link_to 'For Magazines', 'magazines.html' %></h2></div>
          <div><h2><%= link_to 'For Newspapers', 'newspapers.html' %></h2></div>
          <div><h2><%= link_to 'For Brands', 'brands.html' %></h2></div>
        </div>

        <div class='divider alpha'></div>
        <div class='wide-nav'><h2><%= link_to 'For Magazines', 'magazines.html' %></h2></div>
        <div class='wide-nav'><h2><%= link_to 'For Newspapers', 'newspapers.html' %></h2></div>
        <div class='wide-nav'><h2><%= link_to 'For Brands', 'brands.html' %></h2></div>
        <div class='divider omega'></div>
        <%#<div class="wide-screen-signup">%>
        <div class="signup-clip2 wide">
          <p>
            <b><a href="signup.html">Start free trial</a></b>
          </p>
          <p>
            or <em><a href="<%= manager_host %>/users/sign_in">Sign In</a></em>
          </p>
        </div>
        <%#</div>%>
      </nav>
    </div>
    <div class="sharing-links" >
      <a href="https://www.facebook.com/shortcutapp">
        <%= figure 'button_share_facebook' %>
      </a>
      <a href="https://twitter.com/ShortcutMedia">
        <%= figure 'button_share_twitter' %>
      </a>
      <a href="https://www.linkedin.com/company/shortcut-media-ag">
        <%= figure 'button_linkedin' %>
      </a>
      <a href="https://www.youtube.com/user/shortcutmediamovies">
        <%= figure 'button_youtube' %>
      </a>
    </div>
  </div>
</header>
