<div class="<%= html_class %>"><h2><%= link_to 'For Magazines', 'magazines.html' %></h2></div>
<div class="<%= html_class %>"><h2><%= link_to 'For Newspapers', 'newspapers.html' %></h2></div>
<div class="<%= html_class %>"><h2><%= link_to 'For Brands', 'brands.html' %></h2></div>

