---
title: About us · Shortcut Media

team:
  - name: Herbert Bay
    position: Executive Chairman
    picture: team/herbert-bay.jpg
  - name: Jukka Kiiskinen
    position: CEO
    picture: team/jukka-kiiskinen.jpg
  - name: Franco Sebregondi
    position: CTO
    picture: team/franco-sebregondi.jpg
  - name: Sabina Storsjö
    position: Marketing Director
    picture: team/sabina-storsjo.jpg
  - name: Severin Schoepke
    position: Senior Software Engineer
    picture: team/severin-schoepke.jpg

jobs:
 - 'jobs/rails_web_dev_2015'

meta: 
  og:title: Shortcut - About Us 
  og:url: http://shortcut.sc/about.html 
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: We are working together to bring app marketing to the next level; to get more app downloads and more engagement in their apps.
  fb:app_id: 176995982338808                
  og:type: website
  og:image: http://shortcut.sc/images/shortcut_facebook_about_us_470x246.png
  og:image:type: image/png
  og:image:width: 470
  og:image:height: 246
---


%section.white.header
  .container
    .row
      .col-sm-12.text-center
        %h1
          About
          %span.green Shortcut
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-center.col-lg-6.col-lg-offset-3
        %p
          At Shortcut we take the complex topic of app marketing to the next level by 
          providing marketers, app developers and brands with the easiest and most 
          user-friendly app marketing tool.
        %p  
          

%section.white.team
  .container
    .row
      .col-sm-12
        %ul.small-block-grid-4
          - current_page.data.team.each do |employee|
            %li
              .vignette.circle
                %figure
                  = image_tag employee.picture
              %b= employee.name
              %p= employee.position
          - if current_page.data.jobs.any?
            %li.placeholder
              = link_to '#jobs' do
                .vignette.circle
                  %figure
                    %i
                      %b YOU?
                %b We are hiring!
                %p View open positions

%section.blue#jobs
  .container
    .row
      .col-sm-12.text-center
        %h2 We Are Hiring &mdash; Join Our Team!
    .row.vertical-center
      .col-sm-4
        = figure 'sprite.svg#apply-now', fluid: [267, 154]
      .col-sm-8
        - current_page.data.jobs.each do |job_file|
          = partial job_file
%section.white
  .container
    .row
      .col-sm-10.col-sm-offset-1.text-center
        %blockquote
          %p
            Shortcut does the job of deep linking better than anyone else. 
            The ease of use and the responsiveness are outstanding. 
            You can say, I am a fan.
          %footer
            Oliver Stäcker, Founder of gotomo

%section.white#contact_us
  .container.text-center
    .row
      .col-sm-12
        %h2 Contact Us
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-center.col-lg-6.col-lg-offset-3
        %p
          At Shortcut we take the complex topic of app marketing to the next level by 
          providing marketers, app developers and brands with the easiest and most 
          user-friendly app marketing tool.
    .row
      .col-xs-12.col-sm-6
        .google-maps
          %iframe{ width: "600", 
            height: "450",
            frameborder: "0", 
            style: "border:0",  
            allowfullscreen: true, 
            src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.5810911475853!2d24.957024352256706!3d60.17111355019638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920bd008a258d7%3A0x5e1518a6a8254e2b!2sKirkkokatu+1%2C+00170+Helsinki%2C+Finland!5e0!3m2!1sen!2sus!4v1448599588968' }
        %p 
          %b Shortcut Media AG
          %br Kirkkokatu 1A
          Helsinki, Finland
        %p
          %b E-mail: 
          = link_to 'info@shortcutmedia.com', 'mailto:info@shortcutmedia.com'
          %br
          %b Phone:
          = link_to '+358 50 571 7551', 'tel:+358 50 571 7551'

      .col-xs-12.col-sm-6
        .google-maps
          %iframe{ width: "600", 
            height: "450",
            frameborder: "0", 
            style: "border:0",  
            allowfullscreen: true, 
            src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.4835083386055!2d8.543585008334286!3d47.379441449269514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a09d996fa9f%3A0x5e7b85ed242e9f7b!2sWeinbergstrasse+35%2C+8006+Z%C3%BCrich!5e0!3m2!1sen!2sch!4v1449080423511' }

        %p 
          %b Shortcut Media AG
          %br Weinbergstrasse 35
          8006 Zürich, Switzerland


= partial 'call_to_action'
