---
title: Shortcut Media
---

<section id="teaser" class="transparent">
  <div class="container">

    <div class="row">
      <div class="col-sm-7">
        <h1>Power Up Your App Marketing</h1>
        <h3>Get Users, boost Engagement, and maximize Referrals.
￼<span class="text-nowrap"></span></h3>

        <div class="hidden-xs">
<br>          <p>Create a Shortcut and give it super powers. It's easy and it's free. Try it for yourself!</p><br>
          <%= partial 'short_link_form' %>
       </div>
      </div>

      <div class="col-sm-5 linkman-wrapper">
        <div class="linkman-img">
          <figure class="fixed-ratio">
            <span class="small-short-link-form visible-xs">
              <%= partial 'short_link_form' %>
            </span>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Our Features.</span> <span class="text-smart-wrap">Your Marketing Power.</span></h1>
      </div>
    </div>

    <%= partial 'benefits_overview' %>
  </div>
</section>

<section class="blue no-bottom analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Take Control. <span class="text-smart-wrap">Manage Your Shortcuts.</span></h1>
      </div>
    </div>

    <%= figure 'sprite.svg#analytics', fluid: [646, 469], alt: 'Analytics' %>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Successful Cases.</span> <span class="text-nowrap">Happy Customers.</span></h1>
      </div>
    </div>

    <%= partial 'customers' %>
  </div>
</section>

<%= partial 'call_to_action' %>

