<div class="page-wrap clearfix">

  <%#= partial 'legacy_headers' %>
  <%#= partial 'legacy_reference_header' %>
  <%= partial "header" %> 

  <section>
    <div class="clearfix">
      <div class="grid-whole padded top-section welcome-section">
        <div class="grid-half s-grid-whole" >
          <%= figure 'shortcut_engage_graphic', class: 'fluid' %> 
        </div>
        <div id="teaser" class="grid-half s-grid-whole" >
          <h1>Engage Your Audience with <b>Shortcut Interactive Print</b></h1>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="inset">
  <div class="page-wrap clearfix">
    <section>
      <div class="clearfix">

        <div class="grid-8 m-grid-whole s-grid-whole" >
          <div id="demo-button">
            <a href="#modal-download-instruction" class="rounded-batch">Open <em>demo button</em> here</a>
          </div>
          <div class="download-instruction">
            <div class="grid-whole stores">
              <div class="center">
                <%= image_tag "instructions.png", alt: "Download instructions" %>
              </div>

              <div class="center">
                <a href="//itunes.apple.com/app/id364110253?mt=8" target="_blank">
                  <%= figure 'button_app_store' %> 
                </a>
                <a href="//play.google.com/store/apps/details?id=com.aqris.kooaba.paperboy" target="_blank">
                  <%= figure 'button_play_store' %> 
                </a>
                <a href="//www.windowsphone.com/s?appid=12f84623-7d1d-4d5a-82bb-72df700236c9" target="_blank">
                  <%= figure 'button_windows_store' %> 
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="grid-4 m-grid-whole s-grid-whole">
          <%= partial 'teaser_phone' %>
        </div>
      </div>
    </section>
  </div>
</div>



<div class="page-wrap clearfix info-boxes">

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third color-scheme-1') do %>
          <aside>
            <%= figure 'info_graphic_how_shortcut_works' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>This is how Shortcut works!</h2>
              <p>
                Shortcut makes your print clickable and interactive. 
                <em>No gimmicks</em>. Just simple and easy-to-use 
                Shortcut to all your content!
              </p>
              <p><a href="#" class="button">Try it now!</a></p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third info-left color-scheme-2') do %>
          <aside>
            <%= figure 'info_graphic_engagement' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>The Easy-to-use Engagement Enabler</h2>
              <p>
                Whether you’re a publisher, editor, brand owner, 
                or retailer, Shortcut is the most-cost efficient 
                engagement platform for Interactive Print. 
                Shortcut is designed to make life easier for you.
              </p>
              <p><a href="#modal-manager-intro-video" class="button">Watch Video!</a></p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third color-scheme-3') do %>
          <aside>
            <%= figure 'info_graphic_one_solution' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>One solution - multiple businesses</h2>
              <p>
                Shortcut provides benefits across all sectors whether 
                its publisher, retail, fashion, education, travel 
                and much more.
              </p>
              <p><a href="#modal-manager-intro-video" class="button">Watch Video!</a></p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third info-left color-scheme-1') do %>
          <aside>
            <%= figure 'info_graphic_purchaising_decisions' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>The Shortcut to your customers’ purchasing decisions</h2>
              <p>
                Shortcut offers brand owners and publishers the ability to 
                offer shopping direct from the printed page. Imagine that 
                fashion spread detailing the latest trends and buys – your 
                readers become your customers within seconds.
              </p>
              <p><a href="#" class="button">Try it now!</a></p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third color-scheme-2') do %>
          <aside>
            <%= figure 'info_graphic_measure' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>Measure the results achieved</h2>
              <p>
                All Shortcuts are fully measurable with Shortcut Manager.
              </p>
              <p><a href="#" class="button">Try it now!</a></p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <%= partial 'used_worldwide' %>
</div>

<% modal_view id: 'modal-download-instruction' do %>
  <div class="demo-pic-container">
    <%= image_tag "shortcut_demo_picture.png", alt: "Shortcut Demo Picture" %>
  </div>
<%- end %>

<% modal_view id: 'modal-teaser-video' do %>
  <iframe id="teaser-video" class="yt-api" width="610" height="343" src="//www.youtube.com/embed/RPpV_dELuBw?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<%- end %>

<% modal_view id: 'modal-manager-intro-video' do %>
  <iframe id="manager-intro-video" class="yt-api" width="610" height="343" src="//www.youtube.com/embed/fm4CoT_xH1Y?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<%- end %>

<%= partial 'footer' %>
