---
title: Shortcut Media

meta: 
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc 
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---

<section id="teaser" class="transparent">
  <div class="container">

    <div class="row">
      <div class="col-sm-7 col-md-8">
        <h1>Super Powers For Your App Marketing</h1>
        <h3>Get Downloads and Boost Engagement<span class="text-nowrap"></span></h3>

        <div class="hidden-xs">
<br>          <p>Create a Shortcut and give it super powers. It's easy and it's free. Try it for yourself!</p><br>
          <%= partial 'short_link_form' %>
       </div>
      </div>

      <div class="col-sm-4 linkman-wrapper">
        <%= partial 'short_link_form' %>
      </div>
    </div>
  </div>

  <div class="container linkman-container"></div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Our Features.</span> <span class="text-smart-wrap">Your Marketing Power.</span></h2>
          
      </div>
    </div>

    <%= partial 'benefits_overview' %>
  </div>
</section>

<section class="blue no-bottom analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Take Control. <span class="text-smart-wrap">Manage Your Shortcuts.</span></h2>
      </div>
    </div>

    <%= figure 'sprite.svg#analytics', fluid: [1106, 442], alt: 'Analytics' %>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Successful Cases.</span> <span class="text-nowrap">Happy Customers.</span></h2>
      </div>
    </div>

    <%= partial 'customers' %>
  </div>
</section>

<%= partial 'call_to_action' %>

