---
title: Shortcut Media
---

<% content_for :social_meta_tags do %>
  <meta property="og:title" content="App Marketing With Superpowers" />
  <meta property="og:url" content="http://shortcutmedia.com" />
  <meta property="og:site_name" content="Shortcut - App Marketing With Superpowers"/>
  <meta property="og:description" content="Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals." />
  <meta property="fb:app_id" content="176995982338808" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://shortcutmedia.com/images/shortcut_Facebook_Header_851x315px.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="851" />
  <meta property="og:image:height" content="315" />
<% end %>

<section id="teaser" class="transparent">
  <div class="container">

    <div class="row">
      <div class="col-sm-7">
        <h1>Power Up Your App Marketing</h1>
        <h3>Get Users, boost Engagement, and maximize Referrals.<span class="text-nowrap"></span></h3>

        <div class="hidden-xs">
<br>          <p>Create a Shortcut and give it super powers. It's easy and it's free. Try it for yourself!</p><br>
          <%= partial 'short_link_form' %>
       </div>
      </div>

      <div class="col-sm-5 linkman-wrapper">
        <div class="linkman-img">
          <figure class="fixed-ratio">
            <span class="small-short-link-form visible-xs">
              <%= partial 'short_link_form' %>
            </span>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Our Features.</span> <span class="text-smart-wrap">Your Marketing Power.</span></h2>
          
      </div>
    </div>

    <%= partial 'benefits_overview' %>
  </div>
</section>

<section class="blue no-bottom analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Take Control. <span class="text-smart-wrap">Manage Your Shortcuts.</span></h2>
      </div>
    </div>

    <%= figure 'sprite.svg#analytics', fluid: [646, 469], alt: 'Analytics' %>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Successful Cases.</span> <span class="text-nowrap">Happy Customers.</span></h2>
      </div>
    </div>

    <%= partial 'customers' %>
  </div>
</section>

<%= partial 'call_to_action' %>

