---
title: For Newspapers 
---
<div class="page-wrap clearfix">

  <%= partial "header" %> 

  <section>
    <header><h3><%= current_page.data.title  %></h3></header>
    <div class="clearfix">
      <div class="top-section flip-order padded">
        <div class="grid-half s-grid-whole" >
          <%= figure 'main_graphic_newspapers', class: 'fluid' %> 
        </div>
        <div class="grid-half s-grid-whole" >
          <h1><b>Perfect Match</b> for Newspapers</h1>
          <p>
            You’re producing high quality journalism every day 
            in print but the story continues. Combine your digital 
            journalism to traditional long-hand editorial. 
            Add your video footage and combine your channels. 
          </p>
          <p>
            The possibilities are endless.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="page-wrap clearfix info-boxes">

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'third color-scheme-2') do %>
          <aside>
            <%= figure 'info_graphic_how_shortcut_works' %> 
          </aside>
          <article class="centered">
            <div>
              <h2>Designed for Newspapers</h2>
              <p>
                Shortcut is designed to fit in to your existing daily 
                editorial process. It is easy and fast to use and doesn’t 
                require changes in existing work flows.
              </p>
              <ul>
                <li>Automatic upload and activation of all pages</li>
                <li>Automatic PDF upload via FTP</li>
                <li>Digital content can be linked already previous day</li>
              </ul>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'half info-left color-scheme-1 chevron') do %>
          <article class="centered">
            <div>
              <p>Monthly license fee based on circulation.</p>
              <h1>Starting at 249€/Month</h1>
              <ul>
                <li>Full Access to Shortcut Manager</li>
                <li>Upload unlimited pages</li>
                <li>Valuable analytics</li>
                <li>Unlimited reader requests</li>
                <li>Online customer support</li>
              </ul>
            </div>
          </article>
          <aside class="center">
            <p><a href="signup.html#Newspaper" class="button">Start your 30 days<br> free trial now!</a></p>
            <p>or <a href="contact_us.html">contact us</a> for more information.</p>
          </aside>
        <%- end %>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1 s-grid-whole">
        <% info_box(class: 'color-scheme-3') do %>
          <article>
            <h2 class="title-only-info-box">Shortcut is used by <a href="signup.html#Newspaper" class="button">Join Us!</a></h2>
          </article>
          <aside>
            <div class="picture-box clearfix">
              <% %w[
                l_helsingin_sanomat.jpg l_kurier.jpg l_aamulehti.jpg
                l_turun_sanomat.jpg l_karkimedia.jpg l_nzzas.jpg
              ].each do |customer| %>
                <%= image_tag customer %>
              <% end %>
            </div>
          </aside>
        <%- end %>
      </div>
    </div>
  </section>


</div>

<%= partial 'footer' %>
