---
title: Free Trial - Shortcut
---
<div class="page-wrap clearfix">
  <section>
    <div class="clearfix">
      <div class="top-section padded">
        <div class="grid-whole" >
          <h1>Start free 30 days trial for <b>Shortcut Manager</b> and start creating exciting print to digital connections now!</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="clearfix">
      <div class="info-box-container">
        <% info_box(class: 'color-scheme-1') do %>
          <article>
            <% form_tag "#{manager_host}/users", class: 'signup-form', method: 'post' do %>
              <% field_set_tag do %>
                <p>
                  <%= label_tag :user_company_name, caption: 'Company name*' %>
                  <%= text_field_tag 'user[company_name]', id: :user_company_name, required: true, autofocus: true, placeholder: 'Company name*'  %>
                </p>
                <p>
                  <%= label_tag :user_organization_type, caption: 'Organization Type*' %>
                  <% organization_type_options = [
                    ['Choose Organization Type …', '', {:disabled => 'true', :selected => 'true'}],
                    'Magazine Publisher',
                    'Newspaper Publisher',
                    'Brand Owner',
                    'Content Marketing Agency',
                    'Retail',
                    'Education',
                    'Public Sector',
                    'Other'
                  ]%>

                  <%= select_tag 'user[organization_type]', id: :user_organization_type, options: organization_type_options, required: true, class: 'empty' %>
                </p>
                <p>
                  <%= label_tag :user_favorite_medium_type, caption: 'Interested in*' %>
                  <% medium_type_options = [
                                            ['Choose Interested in…', '',{:disabled => 'true', :selected => 'true'}],
                                            ['Magazines',      'Magazine'],
                                            ['Newspapers',     'Newspaper',],
                                            ['Advertisements', 'AdCampaign']] %>
                  <%= select_tag 'user[favorite_medium_type]', id: :user_favorite_medium_type, options: medium_type_options, required: true, class: 'empty' %>
                </p>
                <p>
                  <%= label_tag :user_name, caption: 'Your Name*' %>
                  <%= text_field_tag 'user[name]', id: :user_name, required: true, placeholder: 'Name' %>
                </p>
                <p>
                  <%= label_tag :user_email, caption: 'Your Email*' %>
                  <%= email_field_tag 'user[email]', id: :user_email, required: true, placeholder: 'Email' %>
                </p>
                <p>
                  <%= label_tag :user_password, caption: 'Password*' %>
                  <%= password_field_tag 'user[password]', id: :user_password, required: true, 'data-rule-minlength' => 6, autocomplete: 'off', placeholder: 'Password' %>
                </p>
                <p>
                  <%= label_tag :user_password_confirmation, caption: 'Verify password*' %>
                  <%= password_field_tag 'user[password_confirmation]', id: :user_password_confirmation, required: true, 'data-rule-equalto' => "#user_password", autocomplete: 'off', placeholder: 'Verify password' %>
                </p>
                <p>
                  <label></label>
                  <%= check_box_tag :conditions_accepted, id: :conditions_accepted, checked: false, autocomplete: :off %>
                  I agree to the <%= link_to 'Terms and Conditions', 'terms-and-conditions.html', target: :_blank%> and I have read the <%= link_to 'Privacy Policy', 'privacy.html', target: :_blank%>.
                </p>
              <% end %>
              <% field_set_tag(:class => 'buttons') do %>
                <%= submit_tag "Send!", disabled: true %>
                <p class="success" style="display:none;">Thanks! We'll get back to you shortly.</p>
                <p class="validation error" style="display:none;">Something went wrong. Please have a closer look.</p>
              <% end %>
            <% end %>

          </article>
        <%- end %>
      </div>
    </div>
  </section>
</div>

