---
title: Free Trial - Shortcut
---
<div class="page-wrap clearfix">

  <%= partial "header" %>

  <section>
    <div class="clearfix">
      <div class="grid-whole padded top-section welcome-section">
        <div class="grid-half s-grid-whole" >
          <h1>Start your free trial now</h1>
          <form class="signup" method="POST" action="<%= manager_host %>/users">

            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_company_name, caption: 'Company name:' %></div>
              <div class="grid-two-thirds padded"><%= text_field_tag 'user[company_name]', id: :user_company_name %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_organization_type, caption: 'Organization type:' %></div>
              <% organization_type_options = [['Choose…', ''],
                                              ['Magazine Publisher']*2,
                                              ['Newspaper Publisher']*2,
                                              ['Brand Owner']*2,
                                              ['Content Marketing Agency']*2,
                                              ['Retail']*2,
                                              ['Education']*2,
                                              ['Public Sector']*2,
                                              ['Other']*2] %>
              <div class="grid-two-thirds padded"><%= select_tag 'user[organization_type]', id: :user_organization_type, options: organization_type_options %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_favorite_medium_type, caption: 'Wants Shortcuts for:' %></div>
              <% medium_type_options = [['Choose…',        ''],
                                        ['Magazines',      'Magazine'],
                                        ['Newspapers',     'Newspaper',],
                                        ['Advertisements', 'AdCampaign']] %>
              <div class="grid-two-thirds padded"><%= select_tag 'user[favorite_medium_type]', id: :user_favorite_medium_type, options: medium_type_options %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_name, caption: 'Name:' %></div>
              <div class="grid-two-thirds padded"><%= text_field_tag 'user[name]', id: :user_name %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_email, caption: 'Email:' %></div>
              <div class="grid-two-thirds padded"><%= text_field_tag 'user[email]', id: :user_email %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_password, caption: 'Password:' %></div>
              <div class="grid-two-thirds padded"><%= password_field_tag 'user[password]', id: :user_password %></div>
            </div>
            <div class="grid-whole equalize">
              <div class="grid-third right padded"><%= label_tag :user_password_confirmation, caption: 'Confirm password:' %></div>
              <div class="grid-two-thirds padded"><%= password_field_tag 'user[password_confirmation]', id: :user_password_confirmation %></div>
            </div>
            <div class="grid-whole right">
              <button type="submit">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>

<%= partial 'footer' %>
